.header {
  background-image: linear-gradient(to left bottom, #0d2547, #173c67, #1f558a, #236fad, #228bd2); }

.navbar-nav .nav-link.active,
.navbar-brand,
.nav-link {
  color: white; }

@media (min-width: 992px) {
  .nav-item {
    font-size: 26px;
    display: flex;
    justify-content: end;
    position: absolute;
    left: 40%;
    gap: 20px; } }

@media (min-width: 1500px) {
  .nav-item {
    font-size: 34px;
    display: flex;
    justify-content: end;
    position: absolute;
    left: 45%;
    gap: 20px; } }

.logo {
  border-radius: 40%;
  height: 80px;
  width: 100px; }

@media (min-width: 992px) {
  .logo {
    border-radius: 40%;
    height: 100%;
    width: 200px;
    margin: 0 60px; } }

.title {
  text-align: center;
  font-size: 40px;
  margin: 36px;
  font-family: "Roboto Condensed", sans-serif; }

@media (min-width: 1500px) {
  .title {
    text-align: center;
    font-size: 65px;
    margin: 40px; } }

.footer {
  background-image: linear-gradient(to left bottom, #0d2547, #173c67, #1f558a, #236fad, #228bd2);
  color: white;
  height: 70px; }

.footer__red {
  display: flex;
  margin: 20px;
  font-size: 14px;
  position: relative;
  top: 20px;
  flex-direction: row;
  gap: 20px;
  text-decoration: none; }

.marca__reg {
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  margin: 10px;
  position: relative;
  bottom: 15px;
  right: 20px; }

.main__section {
  padding: 0px;
  margin: 10px; }
  .main__section .main__text {
    font-size: 26px;
    text-align: center;
    margin: 40px 0;
    font-family: "Roboto Condensed", sans-serif; }
    @media (min-width: 2500px) {
      .main__section .main__text .main__text {
        display: flex;
        font-size: 36px;
        text-align: center;
        margin: 40px 0;
        align-items: center; } }
  .main__section .main__image {
    margin: 40px 0; }
  .main__section .video_text {
    font-size: 16px;
    margin: 0 20px; }
  .main__section .video_text {
    font-size: 16px;
    margin: 0 20px; }

.main__form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 820px;
  gap: 20px;
  border: solid 10px #173c67;
  border-radius: 30px; }

.main__form__input {
  font-size: 30px; }

.main__form__area {
  font-size: 30px; }

.form__area {
  height: 250px;
  font-size: 30px; }

.form__input {
  font-size: 30px; }

.btn {
  font-size: 30px;
  padding: 10px 20px;
  background-color: #173c67; }

@media (min-width: 1200px) {
  .main__form {
    margin: 0 auto;
    height: 780px;
    width: 50%; }
  .main__form__input {
    font-size: 30px; }
  .main__form__area {
    font-size: 30px; }
  .form__area {
    height: 250px; }
  .form__input {
    font-size: 30px; } }

.contact__title {
  text-align: center;
  font-size: 60px;
  margin: 36px;
  font-family: "Roboto Condensed", sans-serif; }

@media (max-width: 400px) {
  .contact__title {
    text-align: center;
    font-size: 40px;
    margin: 20px auto;
    font-family: "Roboto Condensed", sans-serif; }
  .main__form {
    border: none; } }

.main__about {
  display: flex;
  flex-direction: column; }
  .main__about .aboutme {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px; }

@media (min-width: 992px) {
  .main__about {
    display: flex;
    flex-direction: row;
    height: 500px; } }

.aboutme {
  height: 300px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px; }

.about__img {
  height: 300px;
  width: 100%;
  object-fit: cover; }

@media (min-width: 992px) {
  .about__img {
    height: 400px;
    width: 500px; } }

.about__subtitle {
  font-size: 20px;
  margin: 10px auto;
  text-align: center;
  align-items: center;
  width: 100%; }

.tech__title {
  margin-top: 40px;
  align-items: center;
  text-align: center;
  position: relative;
  top: 20px; }

.main__tech {
  background-color: brown;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 20px; }
  .main__tech .tech__img {
    margin: 10px;
    height: 100px;
    width: 100px; }
  @media (max-width: 450px) {
    .main__tech .tech__img {
      margin: 20px auto;
      height: 60px;
      width: 60px; } }

.mywork {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 20px; }
  .mywork .aboutme__text {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 28px;
    text-align: center;
    height: auto;
    width: 50%;
    margin: 150px auto; }
  .mywork .carousel {
    border: solid #173c67;
    margin: 0 auto; }
  .mywork .carousel__img {
    height: 300px;
    width: 300px;
    margin: 80px; }
  @media (max-width: 600px) {
    .mywork .aboutme__text {
      font-size: 18px;
      margin: 0 auto;
      text-align: center; }
    .mywork .carousel {
      border: solid #173c67;
      margin: 20px auto;
      height: 300px;
      width: 100%; }
    .mywork .carousel__img {
      height: 250px;
      width: 250px;
      margin: 10px; } }
  .mywork .carousel__text {
    text-align: center;
    background: #173c67;
    color: white;
    margin: 0; }
  .mywork .carousel-control-prev, .mywork .carousel-control-next {
    background: #173c67; }

@media (min-width: 992px) {
  .mywork {
    flex-direction: row; } }

.main_mywork {
  flex-direction: column;
  gap: 20px; }
  .main_mywork .card {
    height: 100%;
    width: 100%; }
    .main_mywork .card .card-body {
      font-family: "Roboto Condensed", sans-serif;
      height: auto;
      width: auto; }
    .main_mywork .card .btn {
      font-size: 26px;
      background-color: #173c67; }
    .main_mywork .card .card-img-top {
      height: auto;
      width: 100%; }

@media (min-width: 860px) {
  .main_mywork {
    flex-direction: row;
    height: auto; } }

.main__services {
  display: flex;
  flex-direction: column;
  margin: 40px;
  gap: 100px; }
  .main__services .services__text {
    font-size: 24px;
    color: #173c67;
    font-family: "Roboto Condensed", sans-serif;
    border: #0d2547 5px solid;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    padding: 20px; }

@media (min-width: 992px) {
  .main__services {
    flex-direction: row; } }

.services__otro {
  height: 20px;
  width: 100%; }

@media (min-width: 992px) {
  .services__otro {
    height: 702px;
    width: 100%; } }
