///VARIABLES///
///VARIABLES///
$font-familyVar: "Roboto Condensed", sans-serif;
$colorWeb: #173c67;


/// MIXIN///
/// MIXIN///
/// MIXIN///
@mixin flexbox-direction {
  display: flex;
  flex-direction: column;
}


// ESTILOS de HEADER y FOOTER///
// ESTILOS de HEADER y FOOTER///
// ESTILOS de HEADER y FOOTER///

.header {
  background-image: linear-gradient(
    to left bottom,
    #0d2547,
    #173c67,
    #1f558a,
    #236fad,
    #228bd2
  );
}
.navbar-nav .nav-link.active,
.navbar-brand,
.nav-link {
  color: white;
}

@media (min-width: 992px) {
  .nav-item {
    font-size: 26px;
    display: flex;
    justify-content: end;
    position: absolute;
    left: 40%;
    gap: 20px;
  }
}

@media (min-width: 1500px) {
  .nav-item {
    font-size: 34px;
    display: flex;
    justify-content: end;
    position: absolute;
    left: 45%;
    gap: 20px;
  }
}
.logo {
  border-radius: 40%;
  height: 80px;
  width: 100px;
}
@media (min-width: 992px) {
  .logo {
    border-radius: 40%;
    height: 100%;
    width: 200px;
    margin: 0 60px;
  }
}
.title {
  text-align: center;
  font-size: 40px;
  margin: 36px;
  font-family: $font-familyVar
}
@media (min-width: 1500px) {
  .title {
    text-align: center;
    font-size: 65px;
    margin: 40px;
    
  }
}

.footer {
  background-image: linear-gradient(
    to left bottom,
    #0d2547,
    #173c67,
    #1f558a,
    #236fad,
    #228bd2
  );
  color: white;
  height: 70px;
}
.footer__red {
  display: flex;
  margin: 20px;
  font-size: 14px;
  position: relative;
  top: 20px;
  flex-direction: row;
  gap: 20px;
  text-decoration: none;
}
.marca__reg {
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  margin: 10px;
  position: relative;
  bottom: 15px;
  right: 20px;
}

//ESTILOS PARA LA MAIN PAGE///
//ESTILOS PARA LA MAIN PAGE///

.main__section {
  padding: 0px;
  margin: 10px;
  .main__text {
    font-size: 26px;
    text-align: center;
    margin: 40px 0;
    font-family: $font-familyVar;

    @media (min-width: 2500px) {
      .main__text {
        display: flex;
        font-size: 36px;
        text-align: center;
        margin: 40px 0;
        align-items: center;
      }
    }
  }
  .main__image {
    margin: 40px 0;
  }
  .video_text {
    font-size: 16px;
    margin: 0 20px;
  }
  .video_text {
    font-size: 16px;
    margin: 0 20px;
  }
}

//CONTACT PAGE///
//CONTACT PAGE///

.main__form {
  @include flexbox-direction;
  margin: 0 auto;
  height: 820px;
  gap: 20px;
  border: solid 10px $colorWeb;
  border-radius: 30px;
  }
  .main__form__input {
    font-size: 30px;
    
  }
  .main__form__area {
    font-size: 30px;
  }
  .form__area {
    height: 250px;
    font-size: 30px;
  }
  .form__input {
    font-size: 30px;
  }
  .btn {
    font-size: 30px;
    padding: 10px 20px;
    background-color: $colorWeb;
  }

@media (min-width: 1200px) {
  .main__form {
    margin: 0 auto;
    height: 780px;
    width: 50%;
    
  } 
  .main__form__input {
    font-size: 30px;
  }
  .main__form__area {
    font-size: 30px;
  }
  .form__area {
    height: 250px;
  }
  .form__input {
    font-size: 30px;
  }
  }

.contact__title {
  text-align: center;
  font-size: 60px;
  margin: 36px;
  font-family: $font-familyVar;
}
@media (max-width: 400px) {
  .contact__title {
    text-align: center;
    font-size: 40px;
    margin: 20px auto;
    font-family: $font-familyVar
  }
  .main__form{
    border: none
  }
}

//ABOUTME PAGE///
//ABOUTME PAGE///

.main__about {
  @include flexbox-direction;
  .aboutme {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .main__about {
    display: flex;
    flex-direction: row;
    height: 500px;
  }
}

.aboutme {
  height: 300px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
}

.about__img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .about__img {
    height: 400px;
    width: 500px;
  }
}
.about__subtitle {
  font-size: 20px;
  margin: 10px auto;
  text-align: center;
  align-items: center;
  width: 100%;
}
.tech__title {
  margin-top: 40px;
  align-items: center;
  text-align: center;
  position: relative;
  top: 20px;
}
.main__tech {
  background-color: brown;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 20px;
  .tech__img {
    margin: 10px;
    height: 100px;
    width: 100px;
  }
  @media (max-width: 450px) {
    .tech__img{
      margin: 20px auto;
      height: 60px; 
      width: 60px;
    }
  }
}


/// MY WORK PAGE///
/// MY WORK PAGE///
/// MY WORK PAGE///

.mywork{
  height: auto;
  width: auto;
  @include flexbox-direction;
  margin: 20px;
  .aboutme__text{
    font-family: $font-familyVar;
    font-size: 28px;
    text-align: center;
    height: auto;
    width: 50%;
    margin: 150px auto;
}
.carousel{
  border: solid #173c67;
  margin: 0 auto;
}
.carousel__img{
  height: 300px;
  width: 300px;
  margin: 80px;
}

@media(max-width:600px){
  .aboutme__text{
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
  }
  .carousel{
    border: solid #173c67;
    margin: 20px auto;;
    height: 300px;
    width: 100%;
  }
  .carousel__img{
    height: 250px;
    width: 250px;
    margin: 10px;
   }
  }
.carousel__text{
  text-align: center;
  background:#173c67;
  color: white;
  margin: 0;
    }
.carousel-control-prev,.carousel-control-next{
  background: #173c67
}
}

@media(min-width:992px){
  .mywork{
    flex-direction: row;;
  }
}

.main_mywork {
  flex-direction: column;;
  
   gap:20px;
    .card{
    height: 100%;
    width: 100%;
        .card-body{
      font-family: $font-familyVar;
      height: auto;
      width: auto;
    }
    .btn{
      font-size: 26px;
      background-color: $colorWeb
    }
    .card-img-top{
      height: auto; 
      width: 100%;
    }
} }

@media (min-width: 860px) {
  .main_mywork {
  flex-direction: row;
  height: auto;
  }
  
}


///SERVICIOS PAGE///
///SERVICIOS PAGE///
///SERVICIOS PAGE///
.main__services{
  @include flexbox-direction;
  margin: 40px;
  gap: 100px;
  
  .services__text{
    font-size: 24px;
    background-color: $colorWeb;
    color:white;
    font-family: $font-familyVar;
    border: #194f9b 5px solid;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    padding: 20px;
  }
}


@media (min-width:992px) {
  .main__services{
  flex-direction: row;
  }
  
}
.services__otro{
  height: 20px;
  width: 100%;
  
}
@media (min-width:992px) {
  .services__otro{
    height: 702px;
    width: 100%;
  }
}
