.header{
    background-image: linear-gradient(to left bottom, #0d2547, #173c67, #1f558a, #236fad, #228bd2);
    
}
.navbar-nav .nav-link.active,.navbar-brand, .nav-link{
    color:white;
}

@media(min-width: 992px){
    .nav-item{
        font-size: 26px;
        display: flex;
        justify-content: end;
        position: absolute;
        left: 40%;
        gap: 20px
        }
}

@media(min-width: 1500px){
    .nav-item{
        font-size: 34px;
        display: flex;
        justify-content: end;
        position: absolute;
        left: 45%;
        gap: 20px;
}
}
.logo{
    border-radius: 40%;
    height: 80px;
    width: 100px;
}
@media(min-width:992px){
    .logo{
        border-radius: 40%;
        height: 100%;
        width: 200px;
        margin: 0 60px;
    }
}
.title{
    text-align: center;
    font-size: 40px;
    margin: 36px;
    font-family: 'Roboto Condensed', sans-serif;
}
@media (min-width:1500px){
    .title{
        text-align: center;
        font-size: 65px;
        margin: 40px;
        font-family: 'Roboto Condensed', sans-serif;
    }
}

.main__section{
    padding: 0px;
    margin: 10px;
    
}
.main__text{
    font-size: 26px;
    text-align: center;
    margin: 40px 0;
    font-family: 'Roboto Condensed', sans-serif;
}
@media(min-width:1500px){
    .main__text{
        display: flex;
    font-size: 36px;
    text-align: center;
    margin: 40px 0;
    align-items: center;
    }
}
.main__image{
    margin: 40px 0;
}/* 
.main__video{
    margin: 0 auto;
    height: 400px;
    width: 100%;
} */
.footer{
    background-image: linear-gradient(to left bottom, #0d2547, #173c67, #1f558a, #236fad, #228bd2);
    color: white;
    height: 65px;
}
.footer__red{
    display: flex;
    margin: 20px;
    font-size: 14px;
    position: relative;
    top: 20px;
    flex-direction: row;
    gap: 20px;
    
}
.marca__reg{
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    margin: 10px;
}
.main__form{
    display: flex;
    flex-direction: column;
    margin:0 auto;
    height: 820px;
    gap: 20px;
}
.main__form__input{
    font-size: 30px;
}
.main__form__area{
    font-size: 30px;
}
.form__area{
    height: 250px;
}
.form__input{
    font-size: 30px;
}
@media (min-width:1200px){
    .main__form{
        margin: 0 auto;
        height:780px;
        width: 50%;
        
    }
    .main__form__input{
        font-size: 30px;
    }
    .main__form__area{
        font-size: 30px;
    }
    .form__area{
        height: 350px;
    }
    .form__input{
        font-size: 30px;
    }
}

.contact__title{
    text-align: center;
    font-size: 60px;
    margin: 36px;
    font-family: 'Roboto Condensed', sans-serif;
}
.main__about{
    display: flex;
    flex-direction: column;
}
@media(min-width:992px){
    .main__about{
        display: flex;
        flex-direction: row;
    }
}

.aboutme{
    height: 300px;
    width: 300px;
    margin: 0 auto;
}
.about__img{
    height: 300px;
    width: 500px;
}
.about__subtitle{
    font-size: 20px;
    margin: 20px;
    text-align: center;
}
.tech__title{
    margin-top:40px ;
    align-items: center;
    text-align: center;
    position: relative;
    top: 20px
}
.main__tech{
    background-color:brown;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 20px;
}
.tech__img{
    margin: 10px;
    height: 100px;
    width: 100px;
}